<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsDeptMapper">

    <resultMap type="top.okya.component.domain.dto.AsDept" id="AsDeptMap">
        <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
        <result property="deptCode" column="dept_code" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="leader" column="leader" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryById" resultMap="AsDeptMap">
        select
            b.dept_id, b.dept_code, b.parent_id, b.dept_name, b.order_num, b.leader, b.phone, b.email, b.status, b.create_by, b.create_time, b.update_by, b.update_time
        from as_dept b
        where b.dept_id = #{deptId}
    </select>

    <select id="queryFgbmByUserId" resultMap="AsDeptMap">
        select
            b.dept_id, b.dept_code, b.parent_id, b.dept_name, b.order_num, b.leader, b.phone, b.email, b.status, b.create_by, b.create_time, b.update_by, b.update_time
        from as_user a
        left join as_dept b
        on a.depts_json like concat('%"', b.dept_id, '"%')
        where a.user_id = #{userId}
    </select>

</mapper>
