<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsDictionaryDataMapper">

    <resultMap type="top.okya.system.domain.AsDictionaryData" id="AsDictionaryDataMap">
        <result property="dictId" column="dict_id" jdbcType="VARCHAR"/>
        <result property="pId" column="p_id" jdbcType="VARCHAR"/>
        <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="label" column="label" jdbcType="VARCHAR"/>
        <result property="labelEn" column="label_en" jdbcType="VARCHAR"/>
        <result property="isDefault" column="is_default" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryByCode" resultType="java.util.Map">
        select
          *
        from as_dictionary_data
        where dict_code = #{dictCode}
        <if test="sqlCondition != null and sqlCondition != ''">
            and ${sqlCondition}
        </if>
    </select>

    <select id="queryByTable" resultType="java.util.Map">
        select * from ${dictSource} where 1=1
        <if test="sqlCondition != null and sqlCondition != ''">
            and ${sqlCondition}
        </if>
    </select>

</mapper>
