<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsDictionaryMapper">

    <resultMap type="top.okya.system.domain.AsDictionary" id="AsDictionaryMap">
        <result property="dictId" column="dict_id" jdbcType="VARCHAR"/>
        <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
        <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
        <result property="showStyle" column="show_style" jdbcType="VARCHAR"/>
        <result property="dictSource" column="dict_source" jdbcType="VARCHAR"/>
        <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
        <result property="dictLabel" column="dict_label" jdbcType="VARCHAR"/>
        <result property="dictPid" column="dict_pid" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryByCode" resultMap="AsDictionaryMap">
        select
          dict_id, dict_code, dict_name, show_style, dict_source, dict_value, dict_label, dict_pid, status, is_delete, create_by, create_time, update_by, update_time
        from as_dictionary
        where dict_code = #{dictCode} and is_delete = 0
    </select>
</mapper>
