<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsLoginRecordMapper">

    <resultMap type="top.okya.system.domain.AsLoginRecord" id="AsLoginRecordMap">
        <result property="infoId" column="info_id" jdbcType="VARCHAR"/>
        <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
        <result property="ipaddr" column="ipaddr" jdbcType="VARCHAR"/>
        <result property="loginLocation" column="login_location" jdbcType="VARCHAR"/>
        <result property="browser" column="browser" jdbcType="VARCHAR"/>
        <result property="os" column="os" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="msg" column="msg" jdbcType="VARCHAR"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--新增所有列-->
    <insert id="insert" keyProperty="infoId" useGeneratedKeys="true">
        insert into as_login_record(info_id, user_code, ipaddr, login_location, browser, os, status, msg, login_time)
        values (#{infoId}, #{userCode}, #{ipaddr}, #{loginLocation}, #{browser}, #{os}, #{status}, #{msg}, #{loginTime})
    </insert>
</mapper>
