<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsOperLogMapper">

    <resultMap type="top.okya.system.domain.AsOperLog" id="AsOperLogMap">
        <result property="operId" column="oper_id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="operationType" column="operation_type" jdbcType="VARCHAR"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
        <result property="operatorType" column="operator_type" jdbcType="INTEGER"/>
        <result property="operName" column="oper_name" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="operUrl" column="oper_url" jdbcType="VARCHAR"/>
        <result property="operIp" column="oper_ip" jdbcType="VARCHAR"/>
        <result property="operLocation" column="oper_location" jdbcType="VARCHAR"/>
        <result property="operParam" column="oper_param" jdbcType="VARCHAR"/>
        <result property="jsonResult" column="json_result" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
        <result property="operTime" column="oper_time" jdbcType="TIMESTAMP"/>
        <result property="costTime" column="cost_time" jdbcType="INTEGER"/>
        <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--新增所有列-->
    <insert id="insert">
        insert into as_oper_log(oper_id, title, operation_type, method, request_method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, json_result, status, error_msg, oper_time, cost_time, finish_time)
        values (#{operId}, #{title}, #{operationType}, #{method}, #{requestMethod}, #{operatorType}, #{operName}, #{deptName}, #{operUrl}, #{operIp}, #{operLocation}, #{operParam}, #{jsonResult}, #{status}, #{errorMsg}, #{operTime}, #{costTime}, #{finishTime})
    </insert>
</mapper>
