<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsPermissionMapper">
 
    <resultMap type="top.okya.component.domain.dto.AsPermission" id="AsPermissionMap">
        <result property="permissionId" column="permission_id" jdbcType="VARCHAR"/>
        <result property="permissionType" column="permission_type" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="params" column="params" jdbcType="OTHER" typeHandler="top.okya.component.utils.mybatis.JsonTypeHandler"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="hidden" column="hidden" jdbcType="INTEGER"/>
        <result property="alwaysShow" column="always_show" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="noCache" column="no_cache" jdbcType="INTEGER"/>
        <result property="breadcrumb" column="breadcrumb" jdbcType="INTEGER"/>
        <result property="affix" column="affix" jdbcType="INTEGER"/>
        <result property="noTagsView" column="no_tags_view" jdbcType="INTEGER"/>
        <result property="outerLink" column="outer_link" jdbcType="VARCHAR"/>
        <result property="activeMenu" column="active_menu" jdbcType="VARCHAR"/>
        <result property="canTo" column="can_to" jdbcType="INTEGER"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryTenancysByUserId" resultType="java.util.Map">
        select a.tenancy_id, a.tenancy_name, a.icon, a.title
        from as_tenancy a
        <where>
            a.is_delete = 0 and a.status = 0
            <if test="userId != null">
                and exists (select 1 from as_role_tenancy art where art.tenancy_id = a.tenancy_id and exists (select 1 from as_user_role ar where ar.user_id = #{userId} and ar.role_id = art.role_id))
            </if>
        </where>
        order by a.order_num
    </select>

    <select id="queryByUserId" resultMap="AsPermissionMap">
        select a.permission_id, a.permission_type, a.parent_id, a.path, a.component, a.params, a.name, a.redirect, a.order_num, a.hidden,
        a.always_show, a.title, a.icon, a.no_cache, a.breadcrumb, a.affix, a.no_tags_view, a.outer_link, a.active_menu, a.can_to, a.perms
        from as_permission a
        <where>
            a.is_delete = 0 and a.status = 0 and a.tenancy_id = #{currentTenancy}
            <if test="userId != null">
                and exists (select 1 from as_role_permission rm where a.permission_id = rm.permission_id and exists (select 1 from as_user_role ur where ur.user_id = #{userId} and rm.role_id = ur.role_id))
            </if>
        </where>
        order by a.parent_id, a.order_num
    </select>

</mapper>
