<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsPermissionMapper">
 
    <resultMap type="top.okya.component.domain.dto.AsPermission" id="AsPermissionMap">
        <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
        <result property="permissionType" column="permission_type" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="hidden" column="hidden" jdbcType="INTEGER"/>
        <result property="alwaysShow" column="always_show" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="noCache" column="no_cache" jdbcType="INTEGER"/>
        <result property="breadcrumb" column="breadcrumb" jdbcType="INTEGER"/>
        <result property="affix" column="affix" jdbcType="INTEGER"/>
        <result property="noTagsView" column="no_tags_view" jdbcType="INTEGER"/>
        <result property="outerLink" column="outer_link" jdbcType="VARCHAR"/>
        <result property="activeMenu" column="active_menu" jdbcType="VARCHAR"/>
        <result property="canTo" column="can_to" jdbcType="INTEGER"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>
 
    <!--查询单个-->
    <select id="queryById" resultMap="AsPermissionMap">
        select permission_id, permission_type, parent_id, path, component, name, redirect, order_num, hidden, always_show, title, icon, no_cache, breadcrumb, affix, no_tags_view, outer_link, active_menu, can_to, perms, status, create_by, create_time, update_by, update_time, remark 
        from as_permission
        where permission_id = #{permissionId}
    </select>
 
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AsPermissionMap">
        select permission_id, permission_type, parent_id, path, component, name, redirect, order_num, hidden, always_show, title, icon, no_cache, breadcrumb, affix, no_tags_view, outer_link, active_menu, can_to, perms, status, create_by, create_time, update_by, update_time, remark
        from as_permission
        <where>
            <if test="permissionId != null">
                and permission_id = #{permissionId, INTEGER}
            </if>
            <if test="permissionType != null and permissionType != ''">
                and permission_type = #{permissionType, VARCHAR}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId, INTEGER}
            </if>
            <if test="path != null and path != ''">
                and path = #{path, VARCHAR}
            </if>
            <if test="component != null and component != ''">
                and component = #{component, VARCHAR}
            </if>
            <if test="name != null and name != ''">
                and name = #{name, VARCHAR}
            </if>
            <if test="redirect != null and redirect != ''">
                and redirect = #{redirect, VARCHAR}
            </if>
            <if test="orderNum != null">
                and order_num = #{orderNum, INTEGER}
            </if>
            <if test="hidden != null">
                and hidden = #{hidden, INTEGER}
            </if>
            <if test="alwaysShow != null">
                and always_show = #{alwaysShow, INTEGER}
            </if>
            <if test="title != null and title != ''">
                and title = #{title, VARCHAR}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon, VARCHAR}
            </if>
            <if test="noCache != null">
                and no_cache = #{noCache, INTEGER}
            </if>
            <if test="breadcrumb != null">
                and breadcrumb = #{breadcrumb, INTEGER}
            </if>
            <if test="affix != null">
                and affix = #{affix, INTEGER}
            </if>
            <if test="noTagsView != null">
                and no_tags_view = #{noTagsView, INTEGER}
            </if>
            <if test="outerLink != null and outerLink != ''">
                and outer_link = #{outerLink, VARCHAR}
            </if>
            <if test="activeMenu != null and activeMenu != ''">
                and active_menu = #{activeMenu, VARCHAR}
            </if>
            <if test="canTo != null">
                and can_to = #{canTo, INTEGER}
            </if>
            <if test="perms != null and perms != ''">
                and perms = #{perms, VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status, INTEGER}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy, VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime, TIMESTAMP}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy, VARCHAR}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime, TIMESTAMP}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark, VARCHAR}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>
 
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from as_permission
        <where>
            <if test="permissionId != null">
                and permission_id = #{permissionId, INTEGER}
            </if>
            <if test="permissionType != null and permissionType != ''">
                and permission_type = #{permissionType, VARCHAR}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId, INTEGER}
            </if>
            <if test="path != null and path != ''">
                and path = #{path, VARCHAR}
            </if>
            <if test="component != null and component != ''">
                and component = #{component, VARCHAR}
            </if>
            <if test="name != null and name != ''">
                and name = #{name, VARCHAR}
            </if>
            <if test="redirect != null and redirect != ''">
                and redirect = #{redirect, VARCHAR}
            </if>
            <if test="orderNum != null">
                and order_num = #{orderNum, INTEGER}
            </if>
            <if test="hidden != null">
                and hidden = #{hidden, INTEGER}
            </if>
            <if test="alwaysShow != null">
                and always_show = #{alwaysShow, INTEGER}
            </if>
            <if test="title != null and title != ''">
                and title = #{title, VARCHAR}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon, VARCHAR}
            </if>
            <if test="noCache != null">
                and no_cache = #{noCache, INTEGER}
            </if>
            <if test="breadcrumb != null">
                and breadcrumb = #{breadcrumb, INTEGER}
            </if>
            <if test="affix != null">
                and affix = #{affix, INTEGER}
            </if>
            <if test="noTagsView != null">
                and no_tags_view = #{noTagsView, INTEGER}
            </if>
            <if test="outerLink != null and outerLink != ''">
                and outer_link = #{outerLink, VARCHAR}
            </if>
            <if test="activeMenu != null and activeMenu != ''">
                and active_menu = #{activeMenu, VARCHAR}
            </if>
            <if test="canTo != null">
                and can_to = #{canTo, INTEGER}
            </if>
            <if test="perms != null and perms != ''">
                and perms = #{perms, VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status, INTEGER}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy, VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime, TIMESTAMP}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy, VARCHAR}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime, TIMESTAMP}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark, VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryByUserId" resultMap="AsPermissionMap">
        select a.permission_id, a.permission_type, a.parent_id, a.path, a.component, a.name, a.redirect, a.order_num, a.hidden,
        a.always_show, a.title, a.icon, a.no_cache, a.breadcrumb, a.affix, a.no_tags_view, a.outer_link, a.active_menu, a.can_to, a.perms
        from as_permission a
        left join as_role_permission rm on a.permission_id = rm.permission_id
        left join as_user_role ur on rm.role_id = ur.role_id
        <where>
            <if test="userId != null">
                and ur.user_id = #{userId}
            </if>
        </where>
        order by a.parent_id, a.order_num
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="permissionId" useGeneratedKeys="true">
        insert into as_permission(permission_type, parent_id, path, component, name, redirect, order_num, hidden, always_show, title, icon, no_cache, breadcrumb, affix, no_tags_view, outer_link, active_menu, can_to, perms, status, create_by, create_time, update_by, update_time, remark)
        values (#{permissionType}, #{parentId}, #{path}, #{component}, #{name}, #{redirect}, #{orderNum}, #{hidden}, #{alwaysShow}, #{title}, #{icon}, #{noCache}, #{breadcrumb}, #{affix}, #{noTagsView}, #{outerLink}, #{activeMenu}, #{canTo}, #{perms}, #{status}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{remark})
    </insert>
 
    <insert id="insertBatch" keyProperty="permissionId" useGeneratedKeys="true">
        insert into as_permission(permission_type, parent_id, path, component, name, redirect, order_num, hidden, always_show, title, icon, no_cache, breadcrumb, affix, no_tags_view, outer_link, active_menu, can_to, perms, status, create_by, create_time, update_by, update_time, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
        (
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.permissionType}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.parentId}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.path}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.component}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.name}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.redirect}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.orderNum}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.hidden}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.alwaysShow}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.title}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.icon}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.noCache}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.breadcrumb}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.affix}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.noTagsView}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.outerLink}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.activeMenu}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.canTo}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.perms}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.status}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.createBy}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.createTime}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.updateBy}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.updateTime}, 
                </when>
                <otherwise>'', </otherwise>
          </choose>
           <choose>
                <when test="entity.visitFrom != null">
                 #{entity.remark}
                </when>
                <otherwise>''</otherwise>
          </choose>
         )
        </foreach>
    </insert>
 
    <insert id="insertOrUpdateBatch" keyProperty="permissionId" useGeneratedKeys="true">
        insert into as_permission(permission_type, parent_id, path, component, name, redirect, order_num, hidden, always_show, title, icon, no_cache, breadcrumb, affix, no_tags_view, outer_link, active_menu, can_to, perms, status, create_by, create_time, update_by, update_time, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.permissionType}, #{entity.parentId}, #{entity.path}, #{entity.component}, #{entity.name}, #{entity.redirect}, #{entity.orderNum}, #{entity.hidden}, #{entity.alwaysShow}, #{entity.title}, #{entity.icon}, #{entity.noCache}, #{entity.breadcrumb}, #{entity.affix}, #{entity.noTagsView}, #{entity.outerLink}, #{entity.activeMenu}, #{entity.canTo}, #{entity.perms}, #{entity.status}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}, #{entity.remark})
        </foreach>
        on duplicate key update
         permission_type = values(permission_type),
         parent_id = values(parent_id),
         path = values(path),
         component = values(component),
         name = values(name),
         redirect = values(redirect),
         order_num = values(order_num),
         hidden = values(hidden),
         always_show = values(always_show),
         title = values(title),
         icon = values(icon),
         no_cache = values(no_cache),
         breadcrumb = values(breadcrumb),
         affix = values(affix),
         no_tags_view = values(no_tags_view),
         outer_link = values(outer_link),
         active_menu = values(active_menu),
         can_to = values(can_to),
         perms = values(perms),
         status = values(status),
         create_by = values(create_by),
         create_time = values(create_time),
         update_by = values(update_by),
         update_time = values(update_time),
         remark = values(remark) 
    </insert>
 
    <!--通过主键修改数据-->
    <update id="update">
        update as_permission
        <set>
            <if test="permissionType != null and permissionType != ''">
                permission_type = #{permissionType},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            <if test="component != null and component != ''">
                component = #{component},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="redirect != null and redirect != ''">
                redirect = #{redirect},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="hidden != null">
                hidden = #{hidden},
            </if>
            <if test="alwaysShow != null">
                always_show = #{alwaysShow},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="noCache != null">
                no_cache = #{noCache},
            </if>
            <if test="breadcrumb != null">
                breadcrumb = #{breadcrumb},
            </if>
            <if test="affix != null">
                affix = #{affix},
            </if>
            <if test="noTagsView != null">
                no_tags_view = #{noTagsView},
            </if>
            <if test="outerLink != null and outerLink != ''">
                outer_link = #{outerLink},
            </if>
            <if test="activeMenu != null and activeMenu != ''">
                active_menu = #{activeMenu},
            </if>
            <if test="canTo != null">
                can_to = #{canTo},
            </if>
            <if test="perms != null and perms != ''">
                perms = #{perms},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where permission_id = #{permissionId}
    </update>
 
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from as_permission where permission_id = #{permissionId}
    </delete>
 
</mapper>
