<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsPermissionMapper">
 
    <resultMap type="top.okya.component.domain.dto.AsPermission" id="AsPermissionMap">
        <result property="permissionId" column="permission_id" jdbcType="VARCHAR"/>
        <result property="permissionType" column="permission_type" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="params" column="params" jdbcType="OTHER" typeHandler="top.okya.component.utils.mybatis.JsonTypeHandler"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="hidden" column="hidden" jdbcType="INTEGER"/>
        <result property="alwaysShow" column="always_show" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="noCache" column="no_cache" jdbcType="INTEGER"/>
        <result property="breadcrumb" column="breadcrumb" jdbcType="INTEGER"/>
        <result property="affix" column="affix" jdbcType="INTEGER"/>
        <result property="noTagsView" column="no_tags_view" jdbcType="INTEGER"/>
        <result property="outerLink" column="outer_link" jdbcType="VARCHAR"/>
        <result property="activeMenu" column="active_menu" jdbcType="VARCHAR"/>
        <result property="canTo" column="can_to" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryTenancysByUserId" resultType="java.util.Map">
        select a.tenancy_id, a.tenancy_name, a.icon, a.title
        from as_tenancy a
        <where>
            a.status = 0
            <if test="userId != null">
                and exists (select 1 from as_role_tenancy art where art.tenancy_id = a.tenancy_id and exists (select 1 from as_user ar where ar.user_id = #{userId} and ar.roles_json like concat('%"', art.role_id, '"%')))
            </if>
        </where>
        order by a.order_num
    </select>

    <select id="queryPermissionsByUserId" resultMap="AsPermissionMap">
        select a.permission_id, a.permission_type, a.parent_id, a.path, a.component, a.params, a.name, a.redirect, a.order_num, a.hidden,
        a.always_show, a.title, a.icon, a.no_cache, a.breadcrumb, a.affix, a.no_tags_view, a.outer_link, a.active_menu, a.can_to
        from as_permission a
        <where>
            a.status = 0 and a.tenancy_id = #{currentTenancy}
            <if test="userId != null">
                and exists (select 1 from as_role_permission rm where a.permission_id = rm.permission_id and exists (select 1 from as_user ur where ur.user_id = #{userId} and ur.roles_json like concat('%"', rm.role_id, '"%')))
            </if>
        </where>
        order by a.parent_id, a.order_num
    </select>

    <select id="queryButtonsByUserId" resultType="java.lang.String">
        select distinct a.button
        from as_role_table_button a
        <where>
            exists (select 1 from as_user ur where ur.user_id = #{userId} and ur.roles_json like concat('%"', a.role_id, '"%'))
        </where>
    </select>

    <select id="queryColumnsByUserId" resultType="java.lang.String">
        select distinct a.colum
        from as_role_table_column a
        <where>
            exists (select 1 from as_user ur where ur.user_id = #{userId} and ur.roles_json like concat('%"', a.role_id, '"%'))
        </where>
    </select>

    <select id="queryFieldsByUserId" resultType="java.lang.String">
        select distinct a.field
        from as_role_form_field a
        <where>
            exists (select 1 from as_user ur where ur.user_id = #{userId} and ur.roles_json like concat('%"', a.role_id, '"%'))
        </where>
    </select>

    <select id="queryTenancysByRoleId" resultType="java.lang.String">
        select tenancy_id from as_role_tenancy where role_id = #{roleId}
    </select>

    <select id="queryPermissionsByRoleId" resultType="java.lang.String">
        select arp.permission_id from as_role_permission arp where arp.role_id = #{roleId}
        and exists(select 1 from as_permission ap where ap.permission_id = arp.permission_id and not exists(select 1 from as_permission ap1 where ap1.parent_id = ap.permission_id))
    </select>

    <select id="queryButtonsByRoleId" resultType="java.lang.String">
        select button from as_role_table_button where role_id = #{roleId}
    </select>

    <select id="queryColumnsByRoleId" resultType="java.lang.String">
        select colum from as_role_table_column where role_id = #{roleId}
    </select>

    <select id="queryFieldsByRoleId" resultType="java.lang.String">
        select field from as_role_form_field where role_id = #{roleId}
    </select>

    <delete id="deleteTenancyByRoleId">
        delete from as_role_tenancy where role_id = #{roleId}
    </delete>

    <delete id="deletePermissionByRoleId">
        delete from as_role_permission where role_id = #{roleId}
    </delete>

    <delete id="deleteTableByRoleId">
        delete from as_role_table_column where role_id = #{roleId}
    </delete>

    <delete id="deleteButtonByRoleId">
        delete from as_role_table_button where role_id = #{roleId}
    </delete>

    <delete id="deleteFormByRoleId">
        delete from as_role_form_field where role_id = #{roleId}
    </delete>

    <insert id="saveRoleTenancy">
        insert into as_role_tenancy (role_id, tenancy_id) values (#{roleId}, #{tenancy})
    </insert>

    <insert id="saveRolePermission">
        insert into as_role_permission (role_id, permission_id) values (#{roleId}, #{permission})
    </insert>

    <insert id="saveRoleTable">
        insert into as_role_table_column (role_id, colum) values (#{roleId}, #{table})
    </insert>

    <insert id="saveRoleButton">
        insert into as_role_table_button (role_id, button) values (#{roleId}, #{button})
    </insert>

    <insert id="saveRoleForm">
        insert into as_role_form_field (role_id, field) values (#{roleId}, #{form})
    </insert>


</mapper>
