<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.okya.system.dao.AsUserMapper">

    <resultMap type="top.okya.component.domain.dto.AsUser" id="AsUserMap">
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userType" column="user_type" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="rolesJson" column="buttons" jdbcType="OTHER" typeHandler="top.okya.component.utils.mybatis.JsonTypeHandler"/>
        <result property="deptsJson" column="buttons" jdbcType="OTHER" typeHandler="top.okya.component.utils.mybatis.JsonTypeHandler"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
        <result property="loginDate" column="login_date" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByUserCode" resultMap="AsUserMap">
        select
            user_id, user_code, dept_id, user_name, user_type, roles_json, depts_json, email, phone_number, sex, avatar, password, status, login_ip, login_date, create_by, create_time, update_by, update_time, remark
        from as_user
        where user_code = #{userCode}
    </select>

    <update id="updatePwdByUserId">
        update as_user set password = #{pwd} where user_id = #{userId}
    </update>

    <update id="updateStatusByUserId">
        update as_user set status = 0 where user_id = #{userId}
    </update>

</mapper>
